body{

    background-color: #F5F6FA;
}
.container{

    display: flex;
    justify-content: center;
}
.row{   
    display: flex;
    border: 0.5px solid rgb(212, 205, 205);
    align-items: center;   
   
}
.nameText{  
    font-family: 'Open Sans', sans-serif;
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    flex-grow:1
}
.nameText h6{
    font-weight: bold; 
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#principal{
    width: 50%;
    background-color: #FFFFFF;
    border:  1px #DADADA;  



}


.trash{
    width: 15px;
    height: 15px;
    margin: 15px;
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 15px;
}
.compteur{
    font-weight: bold; 
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 20px 10px 20px;
}

.add{
    display: flex;
    border: 0.5px solid rgb(212, 205, 205);
    padding: 20px;
   justify-content: space-around;
   height: 40px;
   
}
#newMessage{
    width: 80%;

}

#search{
    width: 40%;
    padding: 5px;
}

#btnAdd{
    border-radius: 20%;
    padding: 10px;
    background-color: #FFFFFF;
    color: blue;
    border-color: blue;
}
#btnAdd:focus{
    outline: 0;
}

.messageTotal{
    border: 0.5px solid rgb(212, 205, 205);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btnsearch{
    border-radius: 20%;
    background-color: #FFFFFF;
    color: blue;
    border-color: blue;
    padding: 5px;
}

